node_modules/
src/credentials/
.vscode/
.gitignore
.github/
SECURITY.md
examples/
logs/
*.test.js
*.types.js
scripts/
src/functions/loader/tests.js
src/docs/
docs/
temp/
progress/
user/
src/classes/exports/*.d.ts
src/classes/utils/*.d.ts
FAQ.md
assets/
.eslintrc.*