node_modules/
credentials/

# Dotfiles
.vscode/
.github/
.gitignore
.eslintrc.*
.editorconfig
*.Dockerfile
.gitpod.yml


# Folders
docs/
examples/
scripts/
assets/

# User folders
progress/
user/

# Documentation files
CHANGELOG.md
FAQ.md
SECURITY.md
contributing.md
CODE_OF_CONDUCT.md

# Documentation generation
src/docs/

# Source type files
src/**/*.d.ts
**/*.types.js

# Test files
**/*.test.js