node_modules/
src/credentials/
.vscode/
.gitignore
.github/
SECURITY.md
examples/
scripts/
src/logs/
*.test.js
*.types.js
src/tests.js
src/compile.js
src/types.js
src/minify.js
src/functions/loader/tests.js
src/docs/
docs/
temp/
progress/
user/
src/classes/exports/*.d.ts
src/classes/utils/*.d.ts
FAQ.md
assets/
.eslintrc.*
src/data/messages/game/en_us.json