name: Dependency Review

on:
  pull_request:

jobs:
  dependency-review:
    name: Dependency review
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Check if changed
        uses: MarceloPrado/has-changed-path@v1.0
        id: changed
        with:
          paths: |
            package.json
            package-lock.json
            .github/workflows/dependency-review.yml

      - name: Dependency Review
        if: steps.changed.outputs.changed == 'true'
        uses: actions/dependency-review-action@v2
